.highlight-objectives {
  padding-top: calc(15vh + 1rem);
}

.hero-text {
  font-family: 'Playfair Display', serif;
  font-weight: 300;
  font-size: var(--hero-font-size, 3rem);
  text-align: center;
}

.hero-text .ti-cursor {
  --ti-cursor-font-size: var(--hero-font-size);
  --ti-cursor-font-weight: bold;
}

.flyer-images {
  width: calc(100vw - (var(--padding-x) * 2));
  margin-top: 3rem;
  margin-inline: auto;
  display: flex;
  gap: 1px;
  box-shadow: 0px 0px 110px 0px rgba(0, 0, 0, 0.75);
  position: relative;
  z-index: 999;
}

.flyer-images img {
  width: 50%;
}

.used-technologies {
  width: calc(100vw - (var(--padding-x) * 2));
  margin-top: 2rem;
  margin-inline: auto;
  font-family: 'Hanken Grotesk', sans-serif;
  display: flex;
}

.used-technologies p {
  font-size: 1.1rem;
  width: 30%;
}

.technology-list {
  position: relative;
  list-style: none;
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
}

.technology-list .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
    circle,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  z-index: 998;
}

.technology-list li {
  display: grid;
  place-items: center;
}

.technology-list li img {
  width: 125px;
}

.for-students,
.for-businesses {
  width: calc(100vw - (var(--padding-x) * 2));
  margin-top: 7.5rem;
  margin-inline: auto;
  display: flex;
  gap: 1.5rem;
  font-family: 'Hanken Grotesk', sans-serif;
}

.students-info,
.businesses-info {
  width: 50%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.students-info > h2,
.businesses-info > h2 {
  font-size: 4rem;
}

.students-info > p,
.businesses-info > p {
  font-size: 1.15rem;
}

.students-info > .call-to-action,
.businesses-info > .call-to-action {
  text-decoration: none;
  color: white;
  background-color: #231f20;
  width: fit-content;
  padding: 0.5rem 1.5rem;
  border-radius: 20px;
  margin-top: 1rem;
}

.students-image,
.businesses-image {
  width: 50%;
  height: 100%;
  margin-inline: auto;
}

.students-image img,
.businesses-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.project-highlights {
  width: calc(100vw - (var(--padding-x) * 2));
  margin-top: 7.5rem;
  margin-inline: auto;
  font-family: 'Hanken Grotesk', sans-serif;
}

.project-highlights-title {
  font-size: 4rem;
}

.project-highlights-title > span {
  color: #3d3a3a;
}

.projects-container {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 3rem;
  margin-top: 2.5rem;
}

.projects-container > div {
  width: 50%;
  height: 50%;
  display: grid;
  place-items: center;
  position: relative;
}

.projects-container > div > img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.projects-container > div > .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
}

.project-description {
  font-size: 1.15rem;
  font-weight: 600;
  margin-bottom: 0.35rem;
  position: absolute;
  bottom: 2rem;
  left: 1rem;
  color: white;
}

.project-date {
  font-size: 1.05rem;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  color: #e2e2e2;
}

/* Small Devices */
@media (width < 850px) {
  .hero-text {
    --hero-font-size: 1.5rem;
  }

  .flyer-images {
    flex-direction: column;
    margin-top: 1rem;
    width: 65%;
  }

  .flyer-images img {
    width: 100%;
  }

  .used-technologies {
    flex-direction: column;
    margin-top: 3rem;
  }

  .used-technologies p {
    width: 100%;
    text-align: center;
  }

  .technology-list {
    margin-top: 1rem;
  }

  .technology-list li img {
    width: 40px;
  }

  .for-students {
    flex-direction: column;
  }

  .for-businesses {
    flex-direction: column-reverse;
    gap: 3rem;
  }

  .students-info,
  .businesses-info {
    width: auto;
  }

  .students-info > h2,
  .businesses-info > h2 {
    font-size: 3rem;
  }

  .students-image,
  .businesses-image {
    width: 100%;
    max-width: 400px;
  }

  .projects-container {
    flex-direction: column;
  }

  .projects-container > div {
    width: 100%;
    height: 100%;
  }

  .projects-container > div > img,
  .projects-container > div > .overlay {
    max-width: 75vw;
  }
}

@media (width > 460px) {
  .hero-text {
    --hero-font-size: 2rem;
  }

  .technology-list li img {
    width: 50px;
  }

  .projects-container > div > img,
  .projects-container > div > .overlay {
    max-width: 65vw;
  }
}

@media (width > 597px) {
  .hero-text {
    --hero-font-size: 2.5rem;
  }

  .technology-list li img {
    width: 60px;
  }
}

@media (width > 700px) {
  .hero-text {
    --hero-font-size: 2.75rem;
  }

  .used-technologies {
    flex-direction: row;
  }

  .used-technologies p {
    width: 40%;
    text-align: left;
  }

  .projects-container > div > img,
  .projects-container > div > .overlay {
    max-width: 55vw;
  }
}

/* Large Devices */
@media (width >= 850px) {
  .hero-text {
    --hero-font-size: 2.75rem;
  }

  .used-technologies {
    margin-top: 5rem;
  }

  .used-technologies p {
    width: 40%;
  }

  .technology-list li img {
    width: 75px;
  }

  .for-businesses {
    gap: 5rem;
  }

  .students-info,
  .businesses-info {
    padding-top: 7.5rem;
  }

  .projects-container > div > img,
  .projects-container > div > .overlay {
    max-width: 400px;
  }
}

@media (width > 1000px) {
  .hero-text {
    --hero-font-size: 3.25rem;
  }

  .used-technologies p {
    width: 30%;
  }
}

@media (width > 1100px) {
  .hero-text {
    --hero-font-size: 3.75rem;
  }

  .used-technologies {
    margin-top: 5rem;
  }

  .used-technologies p {
    width: 25%;
  }

  .technology-list li img {
    width: 100px;
  }
}

@media (width > 1300px) {
  .hero-text {
    --hero-font-size: 4rem;
  }

  .used-technologies p {
    width: 22.5%;
  }
}

@media (width > 1600px) {
  .used-technologies p {
    width: 15%;
  }
  .technology-list li img {
    width: 125px;
  }
}
